.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    height: fit-content;
    align-items: center;
  }

  .Teacher{
    margin-top: 6%;
    margin-bottom: 6%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .number{
    margin-top: 4%;
    margin-bottom: 4%;
    width:15rem;
    height: 15rem;
    background-color: red;
    align-items: center;   
    display: flex;
  }
  p{
    margin-left: 30%;
    margin-right: 70%;
    font-size: 5rem;
  }
  .Button_container{
    margin-top: 5%;
    display: flex;
    width: fit-content;
    justify-content: space-between;
    width: 50%;
  }
  
  